<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syz.mapper.AnswerRecordMapper">
    <!--public List<Integer> selectQuestionIdsByUid(Integer uid);-->
    <select id="selectQuestionIdsByUid" resultType="Integer">
        select question_id from answer_record where user_id = #{uid}
    </select>
</mapper>


