<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syz.mapper.ExamQuestionMapper">
    <!--public List<Integer> selectQuestionsIdByExamId(Integer eid);-->
    <select id="selectQuestionsIdByExamId" resultType="Integer">
        select question_id from exam_question where exam_id = #{eid}
    </select>
</mapper>